<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/index}" xmlns:th="http://www.thymeleaf.org">
<head>
<title>item</title>
</head>
<body>

	<section layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<!-- /.card -->

					<div class="card">
						<div class="card-header">
							<div class="row">
								<div class=""></div>
								<div class="col-lg-10 col-md-offset-2">
									<h3 class="page-header">
										Nhóm quyền <small>Thêm mới</small>
									</h3>
								</div>
							</div>

						</div>

						<!-- /.card-header -->
						<div class="card-body">
							<div class="row">

								<!-- /.col-lg-12 -->
								<div class="col-md-2"></div>
								<div class="col-md-8 col-md-offset-2"
									style="padding-bottom: 120px">
									<form th:action="@{/role/create}" method="POST" enctype="multipart/form-data" th:object="${role}">

										<div class="form-group">
											<label>Tên</label> <input type="text" class="form-control"
												th:field="*{name}" placeholder="" />
										</div>
										<div class="form-group">
											<label>Mô tả</label> 
											<input class="form-control" th:field="*{description}"
												placeholder="" />
										</div>
										
										<div class="row form-group">
											<div class="col-md-6">
												<label>Chi tiết quyền </label> <select name="permission_id"
													class="form-control" id="role_content" multiple="multiple">

													<option th:each="permiss : ${permissions}" th:value="${permiss.id}" th:utext = "${permiss.name}">
													</option>
													
												</select>
											</div>
										</div>
										<div class="form-group"></div>


										<div class="form-group">
											<button type="submit" class="btn btn-default">Thêm</button>
											<button type="reset" class="btn btn-default">Làm mới</button>
										</div>
									</form>
								</div>

								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->

			</div>
		</div>
	</section>
	<section layout:fragment="script">

		<script>
			$(document).ready(function() {

				$('#role_content').multiselect({
					enableFiltering : true,
					includeSelectAllOption : false,
					maxHeight : 200,
					dropUp : true,
					buttonWidth : 500,
					nonSelectedText : 'Chưa chọn quyền',
				// nSelectedText: '',

				});

			});
		</script>
	</section>
</body>
</html>